.page {
  background-color: #5B7444;
  height: 100vh;
}

.dog {
  font-size: 90px;
}

.profile-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 5rem 5rem;
  background-color: #A3C586;
  padding: 3%;
  border-radius: 5px;
}

.left-container {
  grid-column: 1;
  display: grid;
  grid-template-columns: 60% 40%;
  border-right: 3px solid #47697E;

}

.profile-pic {
  width: 80%;
  justify-self: end;
  box-shadow: 2px 1px 5px;
  border-radius: 5%;
}

.bio {
  align-self: center;
  font-size: 20px;
}

.right-container {
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(2, 50%);
}

.dog-facts-container {
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.dog-facts-title {
  align-self: center;
  font-size: 25px;
}

.dog-facts {
  font-size: 20px;
}

.breed-facts-container {
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.breed-facts-title {
  font-size: 25px;
  align-self: center;
}

.breed-facts {
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #FCF1D1;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 1px 5px;
  font-size: 20px;
}
