.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "Form Form Form Environment" "Form Form Form Attributes" "Form Form Form Video";
  }
  
  .Environment { grid-area: Environment; }
  
  .Attributes { grid-area: Attributes; }
  
  .Video { grid-area: Video; }
  
  .Form { grid-area: Form; }