.sponsor-container {
  background-color: #d6eaff ;
  border-radius: 5px;
  width: 80%;
  justify-self: center;
  padding: 3%;
}

.sponsor-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3%;
}

.btn {
  background-color: #93F7C2;
  color: black;
}

.modal-body {
  font-size: 25px;
}

